
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Square Profile  with Flat Responsive widget Design :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Square Profile Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

    <link href="~/web/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />

    <!--webfonts-->

    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!--//webfonts-->

</head>
<body>

    <!-- main -->

    <div class="center-container">

        <div class="w3ls_banner_info">


            <h1> ÖZGEÇMİŞ  </h1>
            <div class="profile">
                <div class="wrap">
                    <div class="profile-main">
                        <div class="profile-pic wthree">
                            <img src="~/web/images/md.jpg" width="150" height="150" alt="">
                            <h3>Hakkımda</h3>
                            <div class="w3ls-agile-left">
                                <!---728x90--->

                                <ul class="address">
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Ad </b></li>
                                            <li>: </li>
                                            <li><span class="w3">Muhammed</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Soyad </b></li>
                                            <li>: </li>
                                            <li><span class="w3">Duruş</span></li>
                                        </ul>
                                    </li>


                                    <li>
                                        <ul class="address-text">
                                            <li><b>Doğum Tarihi </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">26-04-1999</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Telefon </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">0534033****</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Adres </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">Gaziosmanpşa </span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Şehir </b></li>
                                            <li>: </li>
                                            <li><span class="w3">İstanbul</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Cinsiyet </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">Erkek</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Askerlik Durumu </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">Tecilli(08.05.2024)</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Uyruk </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">Türkiye Cumhuriyeti</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Özet Bilgi </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">Yazılım sektorune yon veren oncu yazılım gelıstırıcılerden bırısı olmak ıstıyorum. C# , .Net,Html ve Css teknolojileri ile çalışmaktayım ve projeler üretmekteyim. Bunların dışında temel düzeyde C++ ,MVC ve javascript bilgisine sahibim</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Eğitim Bilgileri </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">Beykent Üniversitesi- Bilgisayar Mühendisliği(Tam Burslu)</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Başlangıç Tarihi </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">09.2017</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="address-text">
                                            <li><b>Yabancı Dil </b></li>
                                            <li>: </li>
                                            <li> <span class="w3">İngilizce - Orta Seviye</span></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <ul class="address-text">
                                            <li><b>E-mail </b></li>
                                            <li>: </li>
                                            <li><a href="mailto:example@mail.com"> <span class="w3">muhammeduruss@gmail.com</span></a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <div class="clear"></div>
                            </div>

                        </div>

                        <div class="profile-ser">
                            <h4>Yeteneklerim</h4>
                            <div class="awards-agileinfo  w3ls-section">
                                <div class="awardsw3-agileits banner-agileinfo">
                                    <div class="container">
                                        <div class="w3ls_banner_bottom_grids">
                                            <div class=" w3ls_about_guage">
                                                <div class="demo">

                                                    <div class="demo-1" data-percent="60"></div>
                                                    <h4>HTML/CSS</h4>
                                                </div>
                                            </div>
                                            <div class=" w3ls_about_guage">
                                                <div class="demo">

                                                    <div class="demo-1" data-percent="75"></div>
                                                    <h4>C#</h4>
                                                </div>
                                            </div>
                                            <div class=" w3ls_about_guage">
                                                <div class="demo">

                                                    <div class="demo-1" data-percent="35"></div>
                                                    <h4>MVC</h4>
                                                </div>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- //Awards-->

                        </div>
                        <div class="clear"> </div>
                        <div class="profile-follows">

                            <div class="follow-btn">
                                <h3>Beni Takip Edin :</h3>
                            </div>
                            <div class="follow">
                                <a href="https://twitter.com/muhammeddurus"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/muhammeddurus/?hl=tr"><i class="fab fa-instagram"></i></a>
                                <a href="https://github.com/muhammeddurus"><i class="fab fa-github"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <!--footer-->
            <div class="footer-w3">
                <p>&copy; Bu bir MVC projesidir - Muhammed Duruş tarafından düzenlendi <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
            <!--//footer-->

        </div>
    </div>
    <!-- //main -->

    <script src="~/web/js/jquery.min.v3.js"></script>
    <script src="~/web/js/jquery.circlechart.js"></script>
    <script>
$('.demo-1').percentcircle();

$('.demo-2').percentcircle({
animate : false,
diameter : 100,
guage: 3,
coverBg: '#000',
bgColor: '#ff0000',
fillColor: '#000',
percentSize: '50px',
percentWeight: 'normal'
});


    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>


</body>
</html>